In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
precip = pd.read_csv("./dataProcessed/precipitation.csv")
temp = pd.read_csv("./dataProcessed/temperature.csv")

In [9]:
precip.head()

   index          날짜  type
0      0  2015-01-01   0.0
1      1  2015-01-02   0.0
2      2  2015-01-03   0.0
3      3  2015-01-04   0.0
4      4  2015-01-05   1.0