In [37]:
import pandas as pd
import numpy as np

In [41]:
busstop = ['02003', '02006', '02282']

In [ ]:
df = pd.read_csv("../busdata/bus_201501.csv", encoding='cp949')

In [39]:
df.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20150101,100,100번(하계동~용산구청),11374,서울시립북서울미술관,22,2,20151228
1,20150101,6631,6631번(강서공영차고지~영등포역),~,당산동진로아파트,32,32,20151228
2,20150101,105,105번(상계동~서울역),11416,하계역,65,199,20151228
3,20150101,6631,6631번(강서공영차고지~영등포역),~,건양병원.김안과병원,143,28,20151228
4,20150101,102,102번(상계동~동대문),10249,KEB하나은행창동지점,181,171,20151228

In [43]:
temp = df[df['버스정류장ARS번호'].isin(busstop)]
temp.head(10)

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
20,20150101,03,03번(남산서울타워~남산서울타워),02282,서울스퀘어앞,126,580,20151228
6349,20150101,1711,1711번(국민대~공덕동),02003,서울역버스환승센터,97,415,20151228
13956,20150101,702B,"702번(B,용두초교방향,서오릉~종로1가)",02006,서울역버스환승센터,358,52,20151228
14760,20150101,702A,"702번(A,서오릉방향,서오릉~종로1가)",02006,서울역버스환승센터,655,101,20151228
16469,20150101,706,706번(교하차고지~서울역),02003,서울역버스환승센터,220,304,20151228
16850,20150101,701,701번(구파발~종로1가),02006,서울역버스환승센터,347,55,20151228
20568,20150101,603,603번(신월동~시청),02006,서울역버스환승센터,301,131,20151228
25007,20150101,703,703번(문산선유리~서울역환승센터),02006,서울역버스환승센터,881,328,20151228
29606,20150101,503,503번(광명공영차고지~서울역),02006,서울역버스환승센터,20,84,20151228
33975,20150101,7021,7021번(은평공영차고지~롯데백화점),02006,서울역버스환승센터,89,482,20151228

In [46]:
temp['총승객수'] = temp['승차총승객수'] + temp['하차총승객수']

/var/folders/j5/2p33mq0s3pbg5spm_mqqxgw00000gn/T/ipykernel_33984/408625399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['총승객수'] = temp['승차총승객수'] + temp['하차총승객수']

In [50]:
temp = temp.groupby(['사용일자', '버스정류장ARS번호'])['총승객수'].sum()

In [ ]:
pd.DataFrame(temp)

In [ ]:
import os
import pandas as pd

# 폴더 경로 설정
input_folder = "../busdata/"
output_folder = "../busdata_utf8/"

# 출력 폴더 생성 (없으면 생성)
os.makedirs(output_folder, exist_ok=True)

# 파일 목록 가져오기
file_list = [f for f in os.listdir(input_folder) if f.endswith('.csv')]

# 모든 파일을 UTF-8로 변환
for file_name in file_list:
    input_path = os.path.join(input_folder, file_name)
    output_path = os.path.join(output_folder, file_name)
    
    try:
        # 파일 읽기 (원본 인코딩은 cp949로 가정)
        df = pd.read_csv(input_path, encoding='cp949')
        
        # UTF-8로 파일 저장
        df.to_csv(output_path, encoding='utf-8', index=False)
        
        print(f"Converted {file_name} to UTF-8")
    except Exception as e:
        print(f"Failed to process {file_name}: {e}")

In [2]:
import pandas as pd

In [8]:
# 빈 데이터프레임 초기화
result = pd.DataFrame()
busstop = ['02003', '02006', '02282']

# 데이터를 처리하는 함수
def set_new_dataframe(moment):
    # 파일 경로 생성
    route = '../busdata/bus_' + moment + '.csv'
    print(route)
    # 데이터 읽기
    df = pd.read_csv(route, encoding='utf-8')

    # 필요한 데이터 필터링 및 계산
    temp = df[df['버스정류장ARS번호'].isin(busstop)].copy()  # 명시적으로 복사
    temp['총승객수'] = temp['승차총승객수'] + temp['하차총승객수']
    temp = temp.groupby(['사용일자', '버스정류장ARS번호'])[['총승객수', '승차총승객수', '하차총승객수']].sum()

    # 데이터프레임 반환
    return pd.DataFrame(temp)

# 연-월 리스트 생성
year_month_list = [f"{year}{month:02d}" for year in range(2015, 2025) for month in range(1, 13) if not (year == 2024 and month > 10)]

# 반복문으로 파일 처리 및 병합
for moment in year_month_list:
    newdf = set_new_dataframe(moment)
    result = pd.concat([result, newdf], axis=0)

../busdata/bus_201501.csv
../busdata/bus_201502.csv
../busdata/bus_201503.csv
../busdata/bus_201504.csv
../busdata/bus_201505.csv
../busdata/bus_201506.csv
../busdata/bus_201507.csv
../busdata/bus_201508.csv
../busdata/bus_201509.csv
../busdata/bus_201510.csv
../busdata/bus_201511.csv
../busdata/bus_201512.csv
../busdata/bus_201601.csv
../busdata/bus_201602.csv
../busdata/bus_201603.csv
../busdata/bus_201604.csv
../busdata/bus_201605.csv
../busdata/bus_201606.csv
../busdata/bus_201607.csv
../busdata/bus_201608.csv
../busdata/bus_201609.csv
../busdata/bus_201610.csv
../busdata/bus_201611.csv
../busdata/bus_201612.csv
../busdata/bus_201701.csv
../busdata/bus_201702.csv
../busdata/bus_201703.csv
../busdata/bus_201704.csv
../busdata/bus_201705.csv
../busdata/bus_201706.csv
../busdata/bus_201707.csv
../busdata/bus_201708.csv
../busdata/bus_201709.csv
../busdata/bus_201710.csv
../busdata/bus_201711.csv
../busdata/bus_201712.csv

/var/folders/j5/2p33mq0s3pbg5spm_mqqxgw00000gn/T/ipykernel_38514/3875820229.py:11: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(route, encoding='utf-8')

../busdata/bus_201801.csv
../busdata/bus_201802.csv
../busdata/bus_201803.csv
../busdata/bus_201804.csv
../busdata/bus_201805.csv
../busdata/bus_201806.csv
../busdata/bus_201807.csv
../busdata/bus_201808.csv
../busdata/bus_201809.csv
../busdata/bus_201810.csv
../busdata/bus_201811.csv
../busdata/bus_201812.csv
../busdata/bus_201901.csv
../busdata/bus_201902.csv
../busdata/bus_201903.csv
../busdata/bus_201904.csv
../busdata/bus_201905.csv
../busdata/bus_201906.csv
../busdata/bus_201907.csv
../busdata/bus_201908.csv
../busdata/bus_201909.csv
../busdata/bus_201910.csv
../busdata/bus_201911.csv
../busdata/bus_201912.csv
../busdata/bus_202001.csv
../busdata/bus_202002.csv
../busdata/bus_202003.csv
../busdata/bus_202004.csv
../busdata/bus_202005.csv
../busdata/bus_202006.csv

/var/folders/j5/2p33mq0s3pbg5spm_mqqxgw00000gn/T/ipykernel_38514/3875820229.py:11: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(route, encoding='utf-8')

../busdata/bus_202007.csv
../busdata/bus_202008.csv
../busdata/bus_202009.csv
../busdata/bus_202010.csv
../busdata/bus_202011.csv
../busdata/bus_202012.csv
../busdata/bus_202101.csv
../busdata/bus_202102.csv
../busdata/bus_202103.csv
../busdata/bus_202104.csv
../busdata/bus_202105.csv
../busdata/bus_202106.csv
../busdata/bus_202107.csv
../busdata/bus_202108.csv
../busdata/bus_202109.csv
../busdata/bus_202110.csv
../busdata/bus_202111.csv
../busdata/bus_202112.csv
../busdata/bus_202201.csv
../busdata/bus_202202.csv
../busdata/bus_202203.csv
../busdata/bus_202204.csv
../busdata/bus_202205.csv
../busdata/bus_202206.csv
../busdata/bus_202207.csv
../busdata/bus_202208.csv
../busdata/bus_202209.csv
../busdata/bus_202210.csv
../busdata/bus_202211.csv
../busdata/bus_202212.csv
../busdata/bus_202301.csv
../busdata/bus_202302.csv
../busdata/bus_202303.csv
../busdata/bus_202304.csv
../busdata/bus_202305.csv
../busdata/bus_202306.csv
../busdata/bus_202307.csv
../busdata/bus_202308.csv
../busdata/bus_202309.csv
../busdata/bus_202310.csv
../busdata/bus_202311.csv
../busdata/bus_202312.csv

/var/folders/j5/2p33mq0s3pbg5spm_mqqxgw00000gn/T/ipykernel_38514/3875820229.py:11: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(route, encoding='utf-8')

../busdata/bus_202401.csv

/var/folders/j5/2p33mq0s3pbg5spm_mqqxgw00000gn/T/ipykernel_38514/3875820229.py:11: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(route, encoding='utf-8')

../busdata/bus_202402.csv
../busdata/bus_202403.csv
../busdata/bus_202404.csv
../busdata/bus_202405.csv
../busdata/bus_202406.csv
../busdata/bus_202407.csv
../busdata/bus_202408.csv
../busdata/bus_202409.csv
../busdata/bus_202410.csv

In [9]:
result.head(10)

                     총승객수  승차총승객수  하차총승객수
사용일자     버스정류장ARS번호
20150101 02003       1036     317     719
         02006       4239    2802    1437
         02282        706     126     580
20150102 02003       1920     507    1413
         02006       7239    4557    2682
         02282        246      43     203
20150103 02003       1507     410    1097
         02006       5746    3674    2072
         02282        464     110     354
20150104 02003       1329     388     941

In [10]:
result.to_csv("./dataProcessed/busstop.csv", encoding='utf-8')